*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: sans-serif;
    min-height: 100vw;
    padding: 20px;

}

.container{
    border: 2px solid black;
    margin-inline: auto;
    max-width: 800px;
    min-height: 400px;
    display: flex;
    justify-content: horizontal;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 1rem;
    align-content: space-evenly;
    
}

.box{
    /* min-width: 100px; */
    min-height: 100px;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 250px;
}

.box:nth-child(2){
    flex: 2 2 250px;
    order: 1;
}