*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    background-color: black;
    margin: 0;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
    padding: 0.5rem;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover, li a:focus{
    text-decoration: underline;
}
/*p{
    background-color: lightgray;
    margin: 100px 50px;
}

.opposite{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    height: 200pxdd;
    margin-top: 100px;
    height: 200px;
    padding: 4em;
}*/